body {
    background-color: #ffffff;
    color: #333;
}

.navbar {
    background-color: #007bff;
}

.navbar .navbar-brand {
    font-weight: bold;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.btn-custom {
    background-color: #28a742;
    color: rgb(238, 238, 238);
}

.btn-custom:hover {
    background-color: #218838;
    color: rgb(255, 255, 255);
}
